body {
    padding-top: 56px;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand,
.nav-link {
    color: #fff !important;
}

.container {
    margin-top: 20px;
}

.table th,
.table td {
    vertical-align: middle;
}

.ml-auto {
    margin-left: auto !important;
}
.auth-nav {
    justify-content: flex-end;
    width: 100%;
}